# Overview of Yelp Dataset
The Yelp dataset contains wealth of information on users and businesses spanning 10 metropolitan cities (Montreal, Calgary, Toronto, Pittsburgh, Charlotte, Urbana-Champaign, Phoenix, Las Vegas, Madison, and Cleveland).
- 8,021,122 reviews
- 209,393 businesses
- 1,320,761 tips
- 1,968,703 users
- 175,187 check-ins

Prior to data wrangling, I utilized json_to_csv.py to flatten nested json objects within business' attributes column (link: https://github.com/Yelp/dataset-examples/blob/master/json_to_csv_converter.py)

In [6]:
# Import essentials
import pandas as pd

# Ignore warning messages
import warnings
warnings.filterwarnings('ignore')

In [7]:
# Utilize helper functions
%run helper_functions.ipynb

In [8]:
# Read dataset files
business_df = pd.read_csv('./dataset/business.csv') # utilized json_to_csv.py that flattened nested json objects
checkin_df = pd.read_csv('./dataset/checkin.csv')
review_df = pd.read_csv('./dataset/review.csv')
user_df = pd.read_csv('./dataset/user.csv')
tip_df = pd.read_csv('./dataset/tip.csv')

## 1) Cleaning Business Dataset
We will mainly focus on independent businesses; therefore, we will be excluding chain restaurants/businesses for this capstone project.
1. Remove chain restaurants/businesses based on business title
2. Filter out non-restaurant related businesses and identify 100 most popular business categories
3. Remove columns that are not needed and lowercase all remaining column names
4. Create new columns based on ambience, categories, music, goodformeal, and noiselevel row values
5. Combine Alcohol, Byob, Corkage, and other alcohol related columns into one column as they are related
6. Handling NaNs in all columns
7. Create adjusted star rating

#### Viewing initial NaNs in Percentage per column

In [9]:
nan_status = round(business_df.isnull().sum() / business_df.shape[0],2)
nan_status.sort_values(ascending=False)

attributes.AgesAllowed                   1.00
attributes.RestaurantsCounterService     1.00
attributes.Open24Hours                   1.00
attributes.DietaryRestrictions           1.00
attributes.BYOB                          1.00
attributes.Corkage                       0.99
attributes.HairSpecializesIn             0.99
attributes.BYOBCorkage                   0.99
attributes.CoatCheck                     0.98
attributes.DriveThru                     0.98
attributes.GoodForDancing                0.98
attributes.Smoking                       0.98
attributes.BestNights                    0.97
attributes.AcceptsInsurance              0.96
attributes.Music                         0.96
attributes.HappyHour                     0.93
attributes.BusinessAcceptsBitcoin        0.92
attributes.DogsAllowed                   0.92
attributes.RestaurantsTableService       0.90
attributes.WheelchairAccessible          0.86
attributes.GoodForMeal                   0.83
attributes.Caters                        0.79
attributes.NoiseLevel                    0.78
attributes.Alcohol                       0.76
attributes.RestaurantsAttire             0.76
attributes.HasTV                         0.75
attributes.RestaurantsReservations       0.74
attributes.Ambience                      0.74
attributes.RestaurantsDelivery           0.73
attributes.RestaurantsGoodForGroups      0.73
attributes.OutdoorSeating                0.72
attributes.ByAppointmentOnly             0.71
attributes.WiFi                          0.69
attributes.RestaurantsTakeOut            0.68
attributes.GoodForKids                   0.67
attributes.BikeParking                   0.57
hours.Sunday                             0.51
attributes.RestaurantsPriceRange2        0.47
attributes.BusinessParking               0.45
attributes.BusinessAcceptsCreditCards    0.42
hours.Saturday                           0.33
hours.Monday                             0.27
hours.Tuesday                            0.24
hours.Wednesday                          0.23
hours.Friday                             0.23
hours.Thursday                           0.22
hours                                    0.21
attributes                               0.14
address                                  0.04
city                                     0.00
categories                               0.00
review_count                             0.00
name                                     0.00
stars                                    0.00
state                                    0.00
postal_code                              0.00
latitude                                 0.00
business_id                              0.00
longitude                                0.00
is_open                                  0.00
dtype: float64

Majority of the NaNs are coming from attributes related columns such as Corkage, DietaryRestrictions, DogsAllowed and etc. All those NaNs columns will be resolved in the following cells.

In [10]:
business_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 209393 entries, 0 to 209392
Data columns (total 60 columns):
 #   Column                                 Non-Null Count   Dtype
---  ------                                 --------------   -----
 0   is_open                                209393 non-null  int64
 1   attributes.Caters                      43969 non-null   object
 2   attributes.RestaurantsAttire           49567 non-null   object
 3   attributes.AcceptsInsurance            8660 non-null    object
 4   attributes.GoodForKids                 68535 non-null   object
 5   attributes.RestaurantsPriceRange2      111288 non-null  object
 6   attributes.Corkage                     1090 non-null    object
 7   attributes.Alcohol                     50838 non-null   object
 8   hours.Friday                           161515 non-null  object
 9   attributes.BestNights                  5483 non-null    object
 10  attributes.RestaurantsReservations     55361 non-null   object
 11  attributes.BusinessParking             115215 non-null  object
 12  attributes.BusinessAcceptsBitcoin      16532 non-null   object
 13  attributes.Music                       7912 non-null    object
 14  attributes.Open24Hours                 14 non-null      object
 15  review_count                           209393 non-null  int64
 16  name                                   209392 non-null  object
 17  attributes.RestaurantsGoodForGroups    56162 non-null   object
 18  stars                                  209393 non-null  float64
 19  state                                  209393 non-null  object
 20  attributes.ByAppointmentOnly           60799 non-null   object
 21  attributes.DietaryRestrictions         61 non-null      object
 22  attributes.HairSpecializesIn           1260 non-null    object
 23  hours.Thursday                         162281 non-null  object
 24  attributes.WiFi                        65331 non-null   object
 25  hours.Wednesday                        161491 non-null  object
 26  latitude                               209393 non-null  float64
 27  hours.Tuesday                          159636 non-null  object
 28  attributes.GoodForMeal                 35182 non-null   object
 29  attributes.HappyHour                   15324 non-null   object
 30  hours.Monday                           151872 non-null  object
 31  attributes.WheelchairAccessible        28635 non-null   object
 32  attributes.RestaurantsTableService     20785 non-null   object
 33  hours.Saturday                         139579 non-null  object
 34  attributes.DogsAllowed                 17539 non-null   object
 35  attributes.HasTV                       53388 non-null   object
 36  business_id                            209393 non-null  object
 37  longitude                              209393 non-null  float64
 38  attributes.BusinessAcceptsCreditCards  122237 non-null  object
 39  attributes.BYOBCorkage                 1425 non-null    object
 40  attributes.BYOB                        740 non-null     object
 41  attributes.DriveThru                   4282 non-null    object
 42  attributes.OutdoorSeating              58441 non-null   object
 43  hours.Sunday                           102117 non-null  object
 44  attributes.NoiseLevel                  46559 non-null   object
 45  attributes.BikeParking                 89765 non-null   object
 46  attributes.RestaurantsDelivery         56679 non-null   object
 47  address                                200714 non-null  object
 48  postal_code                            208884 non-null  object
 49  categories                             208869 non-null  object
 50  attributes.RestaurantsTakeOut          66301 non-null   object
 51  attributes.Ambience                    53806 non-null   object
 52  city                                   209391 non-null  object
 53  attributes.GoodForDancing              5186 non-null    object
 54  hours                                  164550 non-null  object
 55  attributes                             180348 non-null  object
 56  attributes.RestaurantsCounterService   13 non-null      object
 57  attributes.AgesAllowed                 136 non-null     object
 58  attributes.Smoking                     4270 non-null    object
 59  attributes.CoatCheck                   4909 non-null    object
dtypes: float64(3), int64(2), object(55)
memory usage: 95.9+ MB

### 1.1 Remove chain restaurants/businesses based on business title

In [11]:
# Lowercase all characters and remove whitespace on all business titles
business_df['name'] = business_df['name'].str.lower().str.strip()

# Validate whether duplicate businesses exists based on business title
chain_restaurants_df = business_df[business_df.name.duplicated()]
chain_restaurants_df.name

132            tim hortons
283                wendy's
302                wendy's
303              starbucks
329       church's chicken
                ...
209384     sunbelt rentals
209385            domino's
209387                aldo
209389             walmart
209390           five guys
Name: name, Length: 52954, dtype: object

In [12]:
# Remove all chain businesses
business_df.drop_duplicates(subset='name', keep=False, inplace=True)
business_df.reset_index(drop=True, inplace=True)

In [13]:
business_df.shape

(143958, 60)

Removed 52954 businesses that were part of chain restaurants which cut reduced to 143,958 (38% reduction)

### 1.2 Filter out non-restaurant related businesses and identify 100 most popular business categories
- Filter out categories that are not food/drinks related
- Add top 100 categories as new columns and set default value as 0 and remove non-hospitality related businesses
- Update newly created top 100 categories column row values to 1 when applicable

In [14]:
from collections import Counter 

# Remove rows that does not have categories value
business_df = business_df.loc[~business_df.categories.isna()]

# Creating new columns based on categorical values (ex: restaurants, bars, gastropubs, japanese, etc.)
categories = []

for cat in business_df['categories']:
    for category in cat.split(','):
        
        category = category.strip().lower()
        
        # Only get food and drink related categories
        if category in target_cols:
            categories.append(category)
            
features = Counter(categories).most_common()[:100] # Get top 100 most popular categories
features

[('restaurants', 38108),
 ('nightlife', 11359),
 ('bars', 9743),
 ('american (traditional)', 4278),
 ('pizza', 3582),
 ('coffee & tea', 3567),
 ('breakfast & brunch', 3490),
 ('american (new)', 3460),
 ('sandwiches', 3452),
 ('specialty food', 3442),
 ('chinese', 3302),
 ('italian', 3260),
 ('mexican', 2578),
 ('bakeries', 2566),
 ('cafes', 2527),
 ('hotels', 2465),
 ('desserts', 2401),
 ('burgers', 2132),
 ('japanese', 2071),
 ('seafood', 1945),
 ('pubs', 1811),
 ('sushi bars', 1736),
 ('beer', 1702),
 ('wine & spirits', 1702),
 ('sports bars', 1563),
 ('asian fusion', 1555),
 ('ice cream & frozen yogurt', 1444),
 ('mediterranean', 1424),
 ('canadian (new)', 1371),
 ('barbeque', 1326),
 ('indian', 1273),
 ('salad', 1271),
 ('cocktail bars', 1250),
 ('thai', 1104),
 ('vietnamese', 1082),
 ('fast food', 1052),
 ('wine bars', 1047),
 ('steakhouses', 1046),
 ('delis', 1030),
 ('juice bars & smoothies', 937),
 ('french', 911),
 ('chicken wings', 910),
 ('food trucks', 903),
 ('diners', 873),
 ('vegetarian', 849),
 ('ethnic food', 816),
 ('greek', 795),
 ('korean', 793),
 ('dance clubs', 777),
 ('vegan', 690),
 ('food delivery services', 639),
 ('dive bars', 596),
 ('buffets', 581),
 ('caribbean', 571),
 ('gastropubs', 519),
 ('latin american', 517),
 ('comfort food', 516),
 ('halal', 513),
 ('breweries', 499),
 ('tapas/small plates', 494),
 ('gluten-free', 481),
 ('beer bar', 473),
 ('hot dogs', 471),
 ('noodles', 424),
 ('bubble tea', 411),
 ('tapas bars', 401),
 ('pakistani', 384),
 ('farmers market', 383),
 ('southern', 350),
 ('food stands', 316),
 ('tea rooms', 305),
 ('soul food', 297),
 ('fruits & veggies', 286),
 ('hookah bars', 281),
 ('dim sum', 280),
 ('donuts', 275),
 ('tacos', 258),
 ('bagels', 252),
 ('fish & chips', 249),
 ('cupcakes', 238),
 ('ramen', 230),
 ('candy stores', 219),
 ('custom cakes', 219),
 ('hawaiian', 213),
 ('portuguese', 208),
 ('modern european', 205),
 ('cajun/creole', 203),
 ('filipino', 202),
 ('creperies', 195),
 ('lebanese', 188),
 ('persian/iranian', 176),
 ('cheese shops', 175),
 ('shaved ice', 174),
 ('chicken shop', 172),
 ('seafood markets', 172),
 ('taiwanese', 167),
 ('wineries', 167),
 ('bistros', 167),
 ('tex-mex', 163),
 ('irish', 152)]

In [15]:
# Add top 100 categories as new columns
new_features = [] 
default_values = []

for i in range(len(features)):
    new_features.append(features[i][0]) # Get list of top 100 categories
    default_values.append(0) # Set default values as 0 for new categorical columns
    
# Concating dataframe with business_df
business_df = pd.concat(
    [
        business_df,
        pd.DataFrame(
            [default_values],
            index = business_df.index,
            columns = new_features
        )
    ], axis = 1
)

### NOTE:
Below is the example of categories column which consist of list of categories for each businesses. In the following cell below, I will be removing non-hospitality related businesses such as law firms, nail salon, auto shops, and etc. from the business dataframe.

In [16]:
business_df['categories']

0         Active Life, Gun/Rifle Ranges, Guns & Ammo, Sh...
1         Health & Medical, Fitness & Instruction, Yoga,...
2                          Pets, Pet Services, Pet Groomers
3         Home Services, Plumbing, Electricians, Handyma...
4         Auto Repair, Automotive, Oil Change Stations, ...
                                ...
143953       Pets, Pet Sitting, Veterinarians, Pet Services
143954    Contractors, Local Services, Appliances & Repa...
143955                    Japanese, Sushi Bars, Restaurants
143956                     Pet Services, Pet Training, Pets
143957    Tax Services, Professional Services, Accountan...
Name: categories, Length: 143536, dtype: object

I did realize that some of the business data had inaccurate information regarding its business type. See cell below; clearly this is human error where it defined having pizza and being a restaurant when it is mainly for dog training facility.

To filter out non-hospitality related businesses more accurately, I will be checking each categorical values on each businesses to determine whether its business categories contain less than 50% of hospitality related attributes. If so, I will be removing the business from business dataframe.

In [17]:
business_df[business_df['name'] == 'the k-9 handler all breed certified dog training']['categories'][118677]

'Pizza, Life Coach, Education, Pet Services, Dog Walkers, Animal Physical Therapy, Animal Assisted Therapy, Professional Services, Animal Shelters, Pet Training, Holistic Animal Care, Pet Stores, Restaurants, Private Tutors, Pets, Health & Medical'

In [18]:
non_hospitality_biz = [] # Used for appending non-hospitality businesses to remove from the business dataframe

# Loop through categories column
for row in business_df.itertuples():
    
    filtered_categories = [] # Used for appending food/drink related categories
    
    #Remove whitespace, lowercase, replace comma with space and split
    categories = row.categories.strip().lower().replace(', ', ',').split(',')
    
    for category in categories:
        
        # Get all food and drink related categories
        if category in new_features:
            filtered_categories.append(category)
    
    # Append all non-hospitality related businesses
    if len(filtered_categories) / len(categories) < 0.5:
        non_hospitality_biz.append(row.Index)
    else:
        business_df.loc[row.Index, filtered_categories] = 1 # Set to 1 for all food/drink related categories
    
# Remove non-hospitality related businesses from the business dataframe
business_df.drop(non_hospitality_biz, inplace=True)
business_df.reset_index(drop=True, inplace=True)

In [19]:
# Drop categories column
business_df.drop(['categories'], axis=1, inplace=True)

In [20]:
# Sample of newly created columns based on categorical values
business_df[new_features].head()

,restaurants,nightlife,bars,american (traditional),pizza,coffee & tea,breakfast & brunch,american (new),sandwiches,specialty food,...,persian/iranian,cheese shops,shaved ice,chicken shop,seafood markets,taiwanese,wineries,bistros,tex-mex,irish
0,1,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [21]:
business_df.shape

(44046, 159)

Removed non-food/drinks related businesses reducing from 143,958 to 44,046 businesses (30.6% reduction)

### 1.3 Remove columns that are not needed and lowercase all remaining column names
- Remove portion of the column name that starts with 'attributes' and 'Restaurants'
- Remove hours related columns
- Rename PriceRange2 to price
- Remove columns that are not needed for the project
- Lowercase all column names
- Reorder columns

In [22]:
# Remove 'attributes.' and 'Restaurants' portion of the column names
business_df.columns = business_df.columns.str.replace('attributes.', '')
business_df.columns = business_df.columns.str.replace('Restaurants', '')

# Remove all hours related columns
business_df = business_df.loc[:, ~business_df.columns.str.startswith('hours')]

# Rename PriceRange2 to price
business_df.rename(columns={'PriceRange2': 'price'}, inplace=True)

# Remove columns that are not needed
remove_cols = ['attributes', 'BestNights', 'AgesAllowed', 'Attire','ByAppointmentOnly', 'BusinessAcceptsBitcoin', 
               'DietaryRestrictions','WiFi', 'HasTV', 'BusinessAcceptsCreditCards', 'HairSpecializesIn', 
               'WheelchairAccessible', 'AcceptsInsurance', 'Reservations', 'CoatCheck', 'BusinessParking', 
               'Smoking', 'BikeParking','Open24Hours', 'DogsAllowed', 'latitude', 'longitude', 'address', 
               'postal_code','city']

business_df.drop(remove_cols, axis=1, inplace=True)

In [23]:
# Lowercase all column names
business_df.columns = map(str.lower, business_df.columns)

In [25]:
# Reorder columns
first_cols = ['business_id', 'name', 'review_count', 'stars', 'price', 'state', 'is_open']
last_cols = [col for col in business_df.columns if col not in first_cols]
business_df = business_df[first_cols + last_cols]
business_df.columns

Index(['business_id', 'name', 'review_count', 'stars', 'price', 'state',
       'is_open', 'caters', 'goodforkids', 'corkage',
       ...
       'persian/iranian', 'cheese shops', 'shaved ice', 'chicken shop',
       'seafood markets', 'taiwanese', 'wineries', 'bistros', 'tex-mex',
       'irish'],
      dtype='object', length=126)

### 1.4 Create new columns based on ambience, music, goodformeal, and noiselevel row values
The purpose in creating new columns is to identify each business' ambience type, music, and goodformeal, and noiselevel through encoding.
- Fill all NaNs to 0 in ambience, goodformeal, noiseleve, and music columns
- Set new columns based on attributes (ex: casual, upscale, trendy, dj, background_music, etc.)

In [26]:
# fill all NaNs to 0
business_df['ambience'].fillna(0, inplace=True)
business_df['ambience'].replace('None', 0, inplace=True)

business_df['goodformeal'].fillna(0, inplace=True)
business_df['goodformeal'].replace('None', 0, inplace=True)

business_df['noiselevel'].fillna(0, inplace=True)
business_df['noiselevel'].replace('None', 0, inplace=True)

business_df['music'].fillna(0, inplace=True)
business_df['music'].replace('None', 0, inplace=True)

In [27]:
# Creating columns based on attributes (ex: casual, upscale, trendy, dj, background_music, etc.)
attrs = ['ambience', 'goodformeal', 'music']
for attr in attrs:
    create_attr_columns(business_df, attr)

In [28]:
# Remove ambience, goodformeal, noiselevel, and music columns which contains nested json objects
business_df.drop(attrs, axis=1, inplace=True)

#### Update noiselevel column
- Replace current string value to four designated values (quiet, average, loud, very_loud)
- Create dummy dataframe around noiselevel column and rename back to simpler column name by removing 'noiselevel'

In [29]:
business_df['noiselevel'].unique()

array(["u'quiet'", 0, "u'average'", "'quiet'", "u'loud'", "'average'",
       "'loud'", "u'very_loud'", "'very_loud'"], dtype=object)

In [30]:
# Replacing 0 to average by default and replacing rest of the values
replace_values = {"u'quiet'": 'quiet', 
                  "'quiet'": 'quiet', 
                  "u'average'": 'average',
                  "'average'": 'average',
                  0: 'average',
                  "u'loud'": 'loud',
                  "'loud'": 'loud',
                  "u'very_loud'": 'very_loud',
                  "'very_loud'": 'very_loud'
                 }
business_df = business_df.replace({'noiselevel': replace_values})

In [31]:
business_df['noiselevel'].unique()

array(['quiet', 'average', 'loud', 'very_loud'], dtype=object)

In [32]:
# Convert noiselevel values to integers
business_df = pd.get_dummies(business_df, columns=['noiselevel'])
business_df.rename(columns = {'noiselevel_average' : 'average noise',
                  'noiselevel_loud' : 'loud noise',
                  'noiselevel_quiet': 'quiet',
                  'noiselevel_very_loud' : 'very loud'},
                 inplace = True)

In [33]:
business_df.columns

Index(['business_id', 'name', 'review_count', 'stars', 'price', 'state',
       'is_open', 'caters', 'goodforkids', 'corkage',
       ...
       'live', 'jukebox', 'dj', 'background_music', 'karaoke', 'video',
       'average noise', 'loud noise', 'quiet', 'very loud'],
      dtype='object', length=147)

In [34]:
# Sample of noiselevel related columns
business_df[['quiet', 'average noise', 'loud noise', 'very loud']].head()

   quiet  average noise  loud noise  very loud
0      1              0           0          0
1      0              1           0          0
2      0              1           0          0
3      0              1           0          0
4      0              1           0          0

### 1.5 Combine Alcohol, Byob, Corkage, and other alcohol related columns into one column as they are related

In [35]:
business_df['alcohol'].unique() # View unique values

array(["'none'", "u'none'", nan, "u'beer_and_wine'", "u'full_bar'",
       "'full_bar'", "'beer_and_wine'", 'None'], dtype=object)

In [36]:
# Convert with binary values
replace_values = {"'none'": 0, "u'none'": 0}

business_df = business_df.replace(replace_values)
business_df.loc[business_df['alcohol'] != 0, 'alcohol'] = 1

In [37]:
# When one of the alcohol related columns (byob, happyhour, corkage, etc.) are set to true (1) - set Alcohol column as true
business_df.loc[(business_df['byobcorkage'] == 1) |
                (business_df['happyhour'] == 1) |
                (business_df['alcohol'] == 1) |
                (business_df['corkage'] == 1) |
                (business_df['byob'] == 1), 'alcohol'] = 1

In [38]:
# Remove byob, happyhour, corkage, and byobcorkage columns
business_df.drop(['byobcorkage', 'happyhour', 'corkage', 'byob'], axis=1, inplace=True)

### 1.6 Handling NaNs
- Replace NaNs to 0 to all attributes related columns
- Fill in missing price based on most similar businesses' average price using cosine similarity
- Round the average price between 1 - 5

In [39]:
# Viewing non-attributes related columns for any NaNs
business_df.isna().sum()[:7]

business_id        0
name               0
review_count       0
stars              0
price           7246
state              0
is_open            0
dtype: int64

In [43]:
# Handle NaNs in attributes related columns
business_df.iloc[:, 7:] = business_df.iloc[:, 7:].fillna(0) # replace NaNs to 0 to all attributes related columns

In [44]:
# Checking NaN count for review_count, stars, and price as those cannot be binary value
review_count_nan = business_df.review_count.isna().sum()
stars_nan = business_df.stars.isna().sum()
price_nan = business_df.price.isna().sum()

print(f'Review count NaNs: {review_count_nan}, Stars NaNs: {stars_nan}, Price NaNs: {price_nan}')

Review count NaNs: 0, Stars NaNs: 0, Price NaNs: 7246

In [45]:
# Replace 'True', 'None', and 'False' to 1, 0, 0 respectively
business_df.replace('True', 1, inplace=True)
business_df.replace('None', 0, inplace=True)
business_df.replace('False',0, inplace=True)
business_df.replace(True, 1, inplace=True)
business_df.replace(False, 0, inplace=True)

#### 1.6.1 Dealing NaN values in Price column
Missing price value is replaced by averaging price from most similar businesses. Most similar businesses are defined using cosine similarity based on businesses' attributes.

In [47]:
# Replace NaN to 0 in price column
business_df['price'] = business_df['price'].fillna(0)

# Convert price column from str to int datatype
business_df['price'] = business_df['price'].apply(pd.to_numeric)

In [48]:
from sklearn.metrics.pairwise import cosine_similarity

# Get business id column and attributes columns
business_ids = business_df['business_id']
attributes_df = business_df.iloc[:, 7:]

# Creating dataframe for cosine similarity matrix
cos_df = pd.concat([business_ids, attributes_df], axis=1) # horizontal stack
cos_df.set_index('business_id', inplace=True) # setting business_id column as index
cos_df.head()

,caters,goodforkids,alcohol,goodforgroups,tableservice,drivethru,outdoorseating,delivery,takeout,goodfordancing,...,live,jukebox,dj,background_music,karaoke,video,average noise,loud noise,quiet,very loud
business_id,,,,,,,,,,,,,,,,,,,,,
pQeaRpvuhoEqudo3uymHIQ,0,0,0,0,0,0,0,1,1,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0,1,0
lu7vtrp_bE9PnxWfA8g4Pg,0,1,0,0,0,0,0,1,1,0,...,0.0,0.0,0.0,0.0,0.0,0.0,1,0,0,0
DCsS3SgVFO56F6wRO_ewgA,0,0,1,0,0,0,0,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,1,0,0,0
98hyK2QEUeI8v2y0AghfZA,0,0,0,0,1,0,0,1,1,0,...,0.0,0.0,0.0,0.0,0.0,0.0,1,0,0,0
Mmd5WDFq9hHcQ3uClngGjQ,0,0,1,1,0,0,0,0,0,0,...,1.0,0.0,0.0,0.0,0.0,0.0,1,0,0,0

In [49]:
# Cosine Similarity
cos_sim_matrix = cosine_similarity(cos_df, cos_df)
cos_sim_matrix.shape

(44046, 44046)

In [50]:
biz_matrix_df = pd.DataFrame(data=cos_sim_matrix, index=business_df['name'].values, columns=business_df['name'].values)
biz_matrix_df.head()

,the empanadas house,banzai sushi,missy donuts & coffee,pho lee's vietnamese restaurant,irene's tap room,lelulos pizzeria,mi mi restaurant,ganga restaurant,scramblers - strongsville,mama napoli pizza,...,galaxy cafe,the notorious pig,the black bull,the original graziano's pizza restaurant,dragon noodle co.,island buffet,yao fine chinese cuisine,steak & cheese & quick pita restaurant,julep,nishi sushi
the empanadas house,1.000000,0.428571,0.000000,0.462910,0.000000,0.571429,0.227921,0.358569,0.239046,0.462910,...,0.436436,0.267261,0.000000,0.341882,0.227921,0.169031,0.218218,0.428571,0.109109,0.400892
banzai sushi,0.428571,1.000000,0.169031,0.617213,0.142857,0.571429,0.455842,0.478091,0.478091,0.462910,...,0.436436,0.534522,0.125988,0.569803,0.455842,0.338062,0.436436,0.428571,0.218218,0.534522
missy donuts & coffee,0.000000,0.169031,1.000000,0.182574,0.338062,0.000000,0.269680,0.282843,0.141421,0.365148,...,0.129099,0.316228,0.298142,0.269680,0.269680,0.400000,0.258199,0.000000,0.258199,0.158114
pho lee's vietnamese restaurant,0.462910,0.617213,0.182574,1.000000,0.154303,0.462910,0.615457,0.645497,0.387298,0.500000,...,0.353553,0.433013,0.136083,0.492366,0.492366,0.365148,0.471405,0.308607,0.353553,0.288675
irene's tap room,0.000000,0.142857,0.338062,0.154303,1.000000,0.142857,0.455842,0.239046,0.239046,0.308607,...,0.218218,0.400892,0.755929,0.455842,0.455842,0.507093,0.436436,0.285714,0.545545,0.267261

#### 1.6.2 Fill in missing price based on most similar businesses' average price using cosine similarity
The list below shows similar businesses to 'Mama Napoli Pizza' based on business attributes, with this information, I will replace missing price value with average price range using top 10 most similar businesses' price values.

In [51]:
biz_matrix_df['mama napoli pizza'].sort_values(ascending=False)[1:10].index

Index(['killer bâ€™s', 'pizza plus', '900 degree pizza',
       'dÃ©panneur nouveau forum', 'dani's pizzeria', 'papa john' pizza',
       'a pizza 555', 'za pizza bistro adelaide',
       'triple triple pizza & chicken'],
      dtype='object')

In [54]:
# Get businesses without price values
businesses = business_df[business_df['price'] == 0]['name'].reset_index(drop=True)

for business in businesses:

    # Find top ten businesses that are most similar to the business based on attributes
    similar_businesses = biz_matrix_df[business]
    similar_businesses = similar_businesses.sort_values(ascending=False)[1:50].index
        
    avg_price = 0
    i = 0
    
    # Loop over similar businesses
    for sim_business in similar_businesses:
        
        # Get price per restaurant
        price = business_df.loc[business_df['name'] == sim_business, 'price'].values[0]
        
        # When price exist and 10 businesses with price values is not looped - add price
        if i == 10:
            break
            
        if price != 0:
            avg_price += price
            i += 1
            
    # Set price value based on average price value accumulated from most similar businesses
    business_df.loc[business_df['name'] == business, 'price'] = round(avg_price / i, 2)

In [55]:
# Double check to make sure there aren't 0 values in price column
business_df.price.unique()

array([1.  , 1.17, 1.5 , 1.75, 2.  , 1.57, 2.38, 1.44, 3.  , 2.22, 4.  ,
       1.8 , 2.13, 1.67, 1.9 , 1.81, 2.05, 1.29, 1.43, 2.18, 2.09, 1.33,
       1.59, 1.86, 2.67, 2.14, 1.83, 2.12, 1.6 , 2.69, 1.73, 1.82, 2.5 ,
       1.78, 1.92, 1.11, 1.91, 2.06, 2.17, 1.39, 1.71, 2.2 , 1.36, 1.3 ,
       1.65, 1.94, 1.27, 2.56, 1.08, 1.47, 1.62, 1.55, 1.58, 2.25, 1.46,
       1.88, 1.56, 1.4 , 2.15, 1.31, 1.87, 2.08, 1.85, 1.77, 1.93, 1.14,
       2.7 , 1.66, 2.33, 3.13, 2.3 , 2.16, 2.1 , 1.7 , 2.4 , 2.02, 1.22,
       1.2 , 2.45, 2.48, 1.72, 1.61, 2.43, 1.63, 1.84, 1.99, 1.79, 1.35,
       1.45, 3.1 , 2.35, 2.01, 2.44, 2.8 , 2.62, 2.41, 1.38, 1.26, 2.34,
       2.11, 1.34, 2.6 , 1.98, 1.76, 3.15, 1.53, 2.23, 1.68, 1.41, 2.27,
       1.24, 2.21, 2.58, 1.49, 2.42, 2.47, 2.87, 2.46, 1.42, 1.64, 2.39,
       1.69, 1.1 , 2.32, 1.95, 1.37, 1.89, 1.52, 2.71, 1.54, 1.48, 1.25,
       1.28, 1.97, 2.03, 2.86, 1.04, 1.96, 2.9 , 1.23, 1.19, 2.26, 1.13,
       2.53, 1.21, 1.32, 2.07, 2.64, 2.04, 2.79, 2.24, 2.36, 1.12, 1.51,
       2.28, 1.74, 3.06, 2.19, 2.31, 2.59, 3.4 , 1.18, 1.07, 2.65, 2.51,
       2.97, 1.06, 2.29, 2.55, 3.11, 2.95, 2.93, 3.2 , 2.57, 2.49, 3.12,
       1.01, 1.15, 1.02, 2.78, 2.61, 2.54, 2.68, 2.52, 2.88, 2.74, 1.03,
       2.37, 1.16, 1.09, 2.75, 2.63, 3.24, 2.76, 2.77, 2.66, 2.72, 2.82,
       2.83, 2.73, 2.85, 3.07, 2.91, 2.92, 2.89, 1.05, 3.08, 3.04, 2.84,
       2.98, 2.96])

#### 1.6.3 Round the average price between 1 - 4
For ensure price is between 1-4, round the price value to ensure uniformity.

In [56]:
business_df.loc[(business_df['price'] >= 1) & (business_df['price'] < 1.5), 'price'] = 1
business_df.loc[(business_df['price'] >= 1.5) & (business_df['price'] < 2), 'price'] = 2
business_df.loc[(business_df['price'] >= 2) & (business_df['price'] < 2.5), 'price'] = 2
business_df.loc[(business_df['price'] >= 2.5) & (business_df['price'] < 3), 'price'] = 3
business_df.loc[(business_df['price'] >= 3) & (business_df['price'] < 3.5), 'price'] = 3
business_df.loc[(business_df['price'] >= 3.5), 'price'] = 4

In [57]:
# Double check to make sure there aren't 0 values in price column
business_df.price.unique()

array([1., 2., 3., 4.])

In [58]:
# Validating all rows are free from NaNs
business_df[business_df.isnull().any(axis=1)]

Empty DataFrame
Columns: [business_id, name, review_count, stars, price, state, is_open, caters, goodforkids, alcohol, goodforgroups, tableservice, drivethru, outdoorseating, delivery, takeout, goodfordancing, counterservice, restaurants, nightlife, bars, american (traditional), pizza, coffee & tea, breakfast & brunch, american (new), sandwiches, specialty food, chinese, italian, mexican, bakeries, cafes, hotels, desserts, burgers, japanese, seafood, pubs, sushi bars, beer, wine & spirits, sports bars, asian fusion, ice cream & frozen yogurt, mediterranean, canadian (new), barbeque, indian, salad, cocktail bars, thai, vietnamese, fast food, wine bars, steakhouses, delis, juice bars & smoothies, french, chicken wings, food trucks, diners, vegetarian, ethnic food, greek, korean, dance clubs, vegan, food delivery services, dive bars, buffets, caribbean, gastropubs, latin american, comfort food, halal, breweries, tapas/small plates, gluten-free, beer bar, hot dogs, noodles, bubble tea, tapas bars, pakistani, farmers market, southern, food stands, tea rooms, soul food, fruits & veggies, hookah bars, dim sum, donuts, tacos, bagels, fish & chips, cupcakes, ramen, candy stores, ...]
Index: []

[0 rows x 143 columns]

## 1.7 Create adjusted star rating
One restaurant having average star rating of 5 stars with 2 reviews and other restaurant with 3.5 with 100+ reviews are not the same representation, therefore, we need to adjust star ratings by number of ratings it has and set dumping strength of 20, which is the 50% quantile of the review counts for all businesses

In [75]:
# Get 50% quantile value of the review count column
s = business_df['review_count'].quantile(q=0.5)

mean = ((business_df['stars'] * business_df['review_count']).sum())/(business_df['review_count'].sum())
business_df['adjusted_stars'] = round((business_df['review_count'] * business_df['stars'] + s * mean)/(business_df['review_count'] + s),2)
business_df['adjusted_stars']

0        3.69
1        3.72
2        3.20
3        3.82
4        3.92
         ...
44041    2.81
44042    3.97
44043    2.79
44044    3.93
44045    3.69
Name: adjusted_stars, Length: 44046, dtype: float64

In [77]:
# Clean business dataframe
business_df.columns

Index(['business_id', 'name', 'review_count', 'stars', 'price', 'state',
       'is_open', 'caters', 'goodforkids', 'alcohol',
       ...
       'jukebox', 'dj', 'background_music', 'karaoke', 'video',
       'average noise', 'loud noise', 'quiet', 'very loud', 'adjusted_stars'],
      dtype='object', length=144)

In [80]:
# Reorder columns
first_cols = ['business_id', 'name', 'review_count', 'stars', 'adjusted_stars', 'price', 'state', 'is_open']
last_cols = [col for col in business_df.columns if col not in first_cols]
business_df = business_df[first_cols + last_cols]
business_df.columns

Index(['business_id', 'name', 'review_count', 'stars', 'adjusted_stars',
       'price', 'state', 'is_open', 'caters', 'goodforkids',
       ...
       'live', 'jukebox', 'dj', 'background_music', 'karaoke', 'video',
       'average noise', 'loud noise', 'quiet', 'very loud'],
      dtype='object', length=144)

In [81]:
business_df.head()

,business_id,name,review_count,stars,adjusted_stars,price,state,is_open,caters,goodforkids,...,live,jukebox,dj,background_music,karaoke,video,average noise,loud noise,quiet,very loud
0,pQeaRpvuhoEqudo3uymHIQ,the empanadas house,5,4,3.69,1.0,IL,1,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,0,0,1,0
1,lu7vtrp_bE9PnxWfA8g4Pg,banzai sushi,7,4,3.72,1.0,ON,1,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,1,0,0,0
2,DCsS3SgVFO56F6wRO_ewgA,missy donuts & coffee,7,2,3.20,1.0,AZ,0,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,1,0,0,0
3,98hyK2QEUeI8v2y0AghfZA,pho lee's vietnamese restaurant,23,4,3.82,2.0,OH,1,0,0,...,0.0,0.0,0.0,0.0,0.0,0.0,1,0,0,0
4,Mmd5WDFq9hHcQ3uClngGjQ,irene's tap room,79,4,3.92,2.0,AZ,1,0,0,...,1.0,0.0,0.0,0.0,0.0,0.0,1,0,0,0

###### Summary of Business Dataset
1. Filtered business dataset to only populate hospitality related businesses (restaurants, clubs, bars, etc.).
2. Removed businesses that were missing both attributes and categories values as those will be essential for feature engineering.
3. Removed multi-unit restaurants such as chain restaurants as this project is concerned with single-unit businesses.
4. Used categories and attributes data to identify restaurants' characteristics and what type of food/cuisine they are serving.
5. Used cosine similarity amongst businesses to fill in missing price range.
6. Removed columns that were not needed such as address, city, state, and etc.
7. Increase column size from 60 to 144 columns
8. Adjusted average star rating to have better representation at the same scale. For instance, one restaurant with 5 stars rating with 2 reviews is not same as other restaurant with 3.5 stars with 100+ reviews.
8. Reduced business dataset from 209393 to 44046 rows.

## 2) Cleaning Review Dataset
1. Filter review dataset by business id using business.csv
2. Find and replace null values if any
3. Define review as positive (1) or negative (0) based on user's average star rating

In [82]:
review_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8021122 entries, 0 to 8021121
Data columns (total 9 columns):
 #   Column       Dtype
---  ------       -----
 0   funny        int64
 1   review_id    object
 2   useful       int64
 3   date         object
 4   business_id  object
 5   text         object
 6   cool         int64
 7   stars        float64
 8   user_id      object
dtypes: float64(1), int64(3), object(5)
memory usage: 550.8+ MB

In [89]:
# Convert text column to string datatype
review_df['text'] = review_df['text'].astype("string")

### 2.1 Filter review dataset by business id
- Remove all reviews that are not not associated with businesses in business dataframe

In [91]:
# Get reviews that are in business dataframe
m = review_df['business_id'].isin(business_df['business_id'])
review_df = review_df[m].reset_index(drop=True)

In [92]:
review_df.shape

(3270132, 9)

### 2.2 Remove NaNs

In [94]:
review_df.isna().sum()

funny          0
review_id      0
useful         0
date           0
business_id    0
text           0
cool           0
stars          0
user_id        0
dtype: int64

### 2.3 Define positive and negative reviews based on user average rating
Every user rates differently and star ratings can be subjective; therefore, to minimize subjectivity, I am defining whether the review is positive or negative relative to user's average rating. For example, if user rated one restaurant with 2.5 but has the given average rating of 2.1 stars, I am defining as positive since its above the average.

In [145]:
'''
Creating review_type column which will identify whether it is positive/negative relative to user's average rating 
for review dataframe. 0 being negative and 1 being positive
'''
review_df['review_type'] = 0
review_df.head(3)

,review_id,user_id,business_id,stars,text,cool,useful,date,neg,neu,pos,compound,review_type
0,LG2ZaYiOgpr2DK_90pYjNw,V34qejxNsCbcgD8C0HVk-Q,HQl28KMwrEKHqhFrrDqVNQ,5.0,I love Deagan's. I do. I really do. The atmosp...,0.0,1.0,2015-12-05 03:18:11,0.026,0.745,0.229,0.9499,0
1,14_N-s_7TsEpzgjnXJMu9Q,V34qejxNsCbcgD8C0HVk-Q,eoJfl5vG7X87QhcKb0nt5Q,4.0,This is exactly what you think it will be. A h...,3.0,4.0,2014-11-27 05:28:11,0.000,0.682,0.318,0.9862,0
2,B6-F7JQzRIiMQpphyPR3VA,V34qejxNsCbcgD8C0HVk-Q,0youcKV6-eE3F2MQj1l6Fw,4.0,I attended a group event here with about 80 pe...,1.0,1.0,2014-11-08 19:11:34,0.000,0.676,0.324,0.9814,0

In [146]:
# Get user_id and average_stars column from user dataframe
user_star_df = user_df[['user_id', 'average_stars']]

# Merge two dataframes based on common user_id values - adding average_stars column
review_df = pd.merge(review_df, user_star_df, on=['user_id'])

# When star rating per review is higher than user's avg star rating - set review_type as 1 (positive rating)
review_df.loc[review_df['stars'] >= review_df['average_stars'], 'review_type'] = 1

In [147]:
review_df['text_count'] = review_df['text'].str.split().apply(len)
review_df.head()

,review_id,user_id,business_id,stars,text,cool,useful,date,neg,neu,pos,compound,review_type,average_stars,text_count
0,LG2ZaYiOgpr2DK_90pYjNw,V34qejxNsCbcgD8C0HVk-Q,HQl28KMwrEKHqhFrrDqVNQ,5.0,I love Deagan's. I do. I really do. The atmosp...,0.0,1.0,2015-12-05 03:18:11,0.026,0.745,0.229,0.9499,1,4.02,83
1,14_N-s_7TsEpzgjnXJMu9Q,V34qejxNsCbcgD8C0HVk-Q,eoJfl5vG7X87QhcKb0nt5Q,4.0,This is exactly what you think it will be. A h...,3.0,4.0,2014-11-27 05:28:11,0.000,0.682,0.318,0.9862,0,4.02,88
2,B6-F7JQzRIiMQpphyPR3VA,V34qejxNsCbcgD8C0HVk-Q,0youcKV6-eE3F2MQj1l6Fw,4.0,I attended a group event here with about 80 pe...,1.0,1.0,2014-11-08 19:11:34,0.000,0.676,0.324,0.9814,0,4.02,69
3,jCza0LPv1vNU0FF-NFMWQA,V34qejxNsCbcgD8C0HVk-Q,ErxACeMyF4hSQyGhpEt4Tw,5.0,This is definitely one of my favorite Thai res...,1.0,1.0,2019-12-04 14:09:06,0.021,0.749,0.231,0.9894,1,4.02,162
4,VVWXis_BbvDbts-IgCmegA,V34qejxNsCbcgD8C0HVk-Q,54ne9NBqgiWQAx0-RrOaFQ,3.0,"I'd heard of this place, but I had no idea wha...",2.0,4.0,2014-11-23 15:57:29,0.047,0.809,0.144,0.9756,0,4.02,198

### 2.4 Define positive or negative based on sentiment analysis
The Compound score is a metric that calculates the sum of all the lexicon ratings which have been normalized between -1(most extreme negative) and +1 (most extreme positive).

- positive sentiment : (compound score >= 0.05)
- neutral sentiment : (compound score > -0.05) and (compound score < 0.05)
- negative sentiment : (compound score <= -0.05)

In [142]:
# Get sentiment score
review_df['sentiment_result'] = pd.DataFrame(review_df.apply(lambda x: analyse_sentiment(x['text']), axis = 1))

# Normalize the sentiment_result 
norm_sentiment_df = pd.json_normalize(review_df['sentiment_result'])
review_df = review_df.join(norm_sentiment_df)

# Drop sentiment_result column
review_df.drop(columns = ['sentiment_result'],inplace = True)

### Summary of Review Dataset
1. Reduced business dataset from 8,021,121 to 3,270,132 rows.(59% reduction) using filered business dataframe's business_id column.
2. No NaNs found
3. Added two new columns:
    - review_type: defines whether review is positive or negative in binary value based on user's average star rating.
    - text_count: total text count per review
4. Applied sentiment analysis

## 3) Cleaning User and Tip dataset
1. Filter user dataset using filtered review dataframe using user_id
2. Filter tip dataset using filtered user dataset's user_id
3. Define tips as positive or negative using sentiment analysis

### 3.1 Filter user dataset using filtered review dataframe using user_id
Need to filter out user dataframe based on filtered review dataframe to further filter our tip dataframe.

In [111]:
user_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1968703 entries, 0 to 1968702
Data columns (total 22 columns):
 #   Column              Dtype
---  ------              -----
 0   fans                int64
 1   compliment_more     int64
 2   friends             object
 3   compliment_plain    int64
 4   elite               object
 5   compliment_cute     int64
 6   funny               int64
 7   average_stars       float64
 8   user_id             object
 9   compliment_profile  int64
 10  yelping_since       object
 11  review_count        int64
 12  name                object
 13  compliment_list     int64
 14  cool                int64
 15  compliment_hot      int64
 16  compliment_writer   int64
 17  useful              int64
 18  compliment_funny    int64
 19  compliment_note     int64
 20  compliment_cool     int64
 21  compliment_photos   int64
dtypes: float64(1), int64(16), object(5)
memory usage: 330.4+ MB

In [112]:
m = user_df['user_id'].isin(review_df['user_id'])
user_df = user_df[m].reset_index(drop=True)

In [113]:
user_df.shape

(1086990, 22)

### 3.2 Filter tip dataset using filtered user dataset's user_id

In [115]:
tip_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1320761 entries, 0 to 1320760
Data columns (total 5 columns):
 #   Column            Non-Null Count    Dtype
---  ------            --------------    -----
 0   compliment_count  1320761 non-null  int64
 1   date              1320761 non-null  object
 2   business_id       1320761 non-null  object
 3   text              1320753 non-null  object
 4   user_id           1320761 non-null  object
dtypes: int64(1), object(4)
memory usage: 50.4+ MB

In [116]:
# Get filtered businesses tips 
m = tip_df['user_id'].isin(user_df['user_id'])
tip_df = tip_df[m].reset_index(drop=True)

In [117]:
tip_df.dropna(inplace=True)
tip_df.isna().sum()

compliment_count    0
date                0
business_id         0
text                0
user_id             0
dtype: int64

In [118]:
# Get business_id and text columns only
tip_df = tip_df[['business_id', 'text', 'date']]
tip_df.head(3)

,business_id,text,date
0,UYX5zL_Xj9WEc_Wp-FrqHw,Here for a quick mtg,2013-11-26 18:20:08
1,Ch3HkwQYv1YKw_FO06vBWA,Cucumber strawberry refresher,2014-06-15 22:26:45
2,rDoT-MgxGRiYqCmi0bG10g,Very nice good service good food,2016-07-18 22:03:42

In [119]:
tip_df.shape

(1136880, 3)

### 3.3 Define tips as positive or negative using sentiment analysis
Unlike review dataframe, tips does not have any quantifiable values to determine whether it is a good comment or not for the restaurants. Therefore, sentiment analysis is used to define each tip as positive (1) or negative (0) referencing its compound score.

In [135]:
# Import sentiment analysis
from nltk.sentiment.vader import SentimentIntensityAnalyzer
analyser = SentimentIntensityAnalyzer()

In [128]:
# Convert text column to string datatype
tip_df['text'] = tip_df['text'].astype("string")

In [ ]:
# Get sentiment score
tip_df['sentiment_result'] = pd.DataFrame(tip_df.apply(lambda x: analyse_sentiment(x['text']), axis = 1))

# Normalize the sentiment_result 
norm_sentiment_df = pd.json_normalize(tip_df['sentiment_result'])
tip_df = tip_df.join(norm_sentiment_df)

# Drop sentiment_result column
tip_df.drop(columns = ['sentiment_result'],inplace = True)

In [130]:
# Get tip text count to later compare whether negative tip tend to have more text count than positive
tip_df['text_count'] = tip_df['text'].str.split().apply(len)
tip_df.head()

,business_id,text,date,neg,neu,pos,compound,text_count
0,UYX5zL_Xj9WEc_Wp-FrqHw,Here for a quick mtg,2013-11-26 18:20:08,0.0,1.000,0.000,0.0000,5
1,Ch3HkwQYv1YKw_FO06vBWA,Cucumber strawberry refresher,2014-06-15 22:26:45,0.0,1.000,0.000,0.0000,3
2,rDoT-MgxGRiYqCmi0bG10g,Very nice good service good food,2016-07-18 22:03:42,0.0,0.241,0.759,0.8573,6
3,OHXnDV01gLokiX1ELaQufA,It's a small place. The staff is friendly.,2014-06-06 01:10:34,0.0,0.652,0.348,0.4939,8
4,GMrwDXRlAZU2zj5nH6l4vQ,"8 sandwiches, $24 total...what a bargain!!! An...",2011-04-08 18:12:01,0.0,0.498,0.502,0.7946,11

The Compound score is a metric that calculates the sum of all the lexicon ratings which have been normalized between -1(most extreme negative) and +1 (most extreme positive).

- positive sentiment : (compound score >= 0.05)
- neutral sentiment : (compound score > -0.05) and (compound score < 0.05)
- negative sentiment : (compound score <= -0.05)

### Summary of Tip Dataset
1. Filtered tip dataset using updated user dataset's user_id.
2. Removed all columns except user_id, text, and date.
3. Reduced tip dataset from 1,320,761 to 1,136,880 rows.
4. Defined positive or negative tip using sentiment analysis
5. Removed two rows that had null values.

## 4) Cleaning Check-In dataset
1. Filter checkin dataset using updated business dataset's business_id column values

In [120]:
checkin_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 175187 entries, 0 to 175186
Data columns (total 2 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   date         175187 non-null  object
 1   business_id  175187 non-null  object
dtypes: object(2)
memory usage: 2.7+ MB

In [121]:
checkin_df.isna().sum()

date           0
business_id    0
dtype: int64

In [122]:
# Get check-ins that are in business dataframe
m = checkin_df['business_id'].isin(business_df['business_id'])
checkin_df = checkin_df[m].reset_index(drop=True)

In [123]:
checkin_df.head(3)

                                                date             business_id
0  2016-04-26 19:49:16, 2016-08-30 18:36:57, 2016...  --1UhMGODdWsrMastO9DZw
1  2011-06-04 18:22:23, 2011-07-23 23:51:33, 2012...  --6MefnULPED_I942VcFNA
2  2014-12-29 19:25:50, 2015-01-17 01:49:14, 2015...  --7zmmkVg-IMGaXbuVd0SQ

In [124]:
checkin_df.shape

(42296, 2)

### Summary of Check-In Dataset
1. Filtered checkin dataset using filtered review dataframe
2. Reduced checkin dataset from 175187 to 42296 rows.
3. No null values were found

## Save clean datasets as csv files

In [ ]:
business_df.to_csv('./dataset/clean_business.csv')
checkin_df.to_csv('./dataset/clean_checkin.csv')
review_df.to_csv('./dataset/clean_review.csv')
tip_df.to_csv('./dataset/clean_tip.csv')